@import "flexoki-dark.css";

* {
    border: none;
    border-radius: 0;
    font-family: "CommitMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @tx;
}

tooltip {
	background: @bg;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: @tx;
	}

#workspaces button {
    padding: 5px 10px;
    color: @tx;
}

#workspaces button.active {
    color: @bg;
    background-color: @bl;
    border-radius: 15px;
}

#workspaces button.focused {
    color: @bl;
    background-color: @bg;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: @re;
    background-color: @bg;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: @bl;
	color: @bg;
	border-radius: 15px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #workspaces {
	background-color: @bg;
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: @bg;
	border-radius: 15px 0px 0px 15px;
}

#custom-date {
	color: @tx;
}

#clock {
    color: @tx;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery {
    color: @tx;
}

#battery.charging {
    color: @gr;
}

#battery.warning:not(.charging) {
    color: @re;
}

#network {
	color: @tx;
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: @tx;
}
